<div class="splash panel">
    <h3 class="text-center welcome">Forgot your password?</h3>
    <div class="authform">
    <%= simple_form_for(resource, as: resource_name, 
    														 url: password_path(resource_name), 
    														html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :email, required: true, 
      									 autofocus: true %>

      <%= f.button :submit, label: 'Send me reset password instructions',
                         required: true, 
                            class: 'button expand success' %>
    <%= render 'vendors/shared/links' %>
    <% end %>
  </div>
</div>
