<table class="recent-transactions">
	<thead>
		<% unless params[:search] && params[:search] != "" %>
			<caption>Recent verifications</caption>
		<% else %>
			<caption>Verifications before <%= @date.strftime("%A, %B %d %Y") %></caption>
		<% end %>
		 <tr>
		 	<th class="text-center">ID</th>
      <th class="text-center">Vendor</th>
      <th class="text-center">Amount</th>
      <th class="text-center">Date</th>
    </tr>
	</thead>
	<% @transactions.each do |t| %>
	<tr>
		<td class="text-right"><%= link_to t.id, user_transaction_path(@user, t) %></td>
		<td class="text-right"><%= link_to t.vendor.fullname, t.vendor unless t.vendor.nil? %></td>
		<td class="text-right"><%= number_with_delimiter(t.amount, delimiter: ',') %></td>
		<td class="text-right"><%= t.created_at.to_formatted_s(:long_ordinal) %></td>
	</tr>
	<% end %>
</table>