<div class="row">
	<div class="columns large-12">
		<h2 class="text-center"><%= @user.fullname %></h2>
		<div class="columns large-5">
			<ul class="vcard">					
			  <li class="occupation"><%= @user.occupation %></li>
			  <li class="phone">+<%= number_to_phone(@user.phone) %></li>
			  <li class="street-address"><%= @user.street_address %></li>
			  <li class="locality"><%= @user.city %></li>
			  <li><span class="state"><%= @user.state %></span>
			  	<span class="zip"><%= @user.postal_code %></span></li>
			  <li class="email"><%= mail_to @user.email %></li>
			</ul>
			<hr>
		</div>
		<!-- <div class="columns large-12">
			<table>
				<%# @user.security_codes.in_groups_of(12, false).each_with_index do |codes, top_index| %>
				<tr>
					<%# codes.each_with_index do |code, index| %>
						<td><%#= (index + 1) + (top_index * 12) %>: <%#= code %></td>
					<%# end %>
				</tr>
				<%# end %>
			</table>
			<hr>
		</div> -->
	</div>
</div>
