<div class="row">
	<div class="columns large-12">
		<br>
		<h2 class="text-center">
			<% if @user.image.present? %>
	      <% if @user.image_processing? %>
	        <%= fa_icon 'circle-o-notch spin' %>
	      <% elsif %>
	      	<%= link_to image_tag(@user.image.url(:thumb)).html_safe, "#", class: 'th radius' %>
	      <% else %>
		      <img src="http://placehold.it/75&amp;text=Image not available">
		    <% end %>
		  <% end %>
		  <%= @user.fullname %></h2>
		<br>		
		<% if current_user == @user %>
			<div class="columns large-6 large-uncentered medium-9 small-12 small-centered">
				<h3 class="<%= @user.credits < 1000 ? 'alert-text text-center' : 'text-center'%>" id="user_token">
					Credit balance: <%= number_with_delimiter(@user.credits, delimiter: ',')%>
				</h3>
				<br>
				<%= simple_form_for @token, url: token_user_path, method: 'patch' do %>
          <div class="large-12 small-12 columns">
            <%= text_field_tag :token_code, params[:token], 
            																placeholder: "Enter credit token (e.g. #{ SecureRandom.hex(8) })" %>
          </div>        
        <% end %>
				<hr>
			</div>

			<div class="columns large-6 large-uncentered medium-9 small-12 small-centered">
				<%= render 'transactions/transaction_search' %>			
				<% if @transactions.count != 0 && params[:search] %>			
					<%= render 'transactions/transaction_history' %>
				<% elsif @transactions.count == 0 && params[:search] %>
					<h2 class="text-center">No transactions found</h2>
				<% end %>
				<hr>
			</div>

			<div class="large-12 columns">
				<% if !@recent_transactions.nil? %>
					<h4 class="text-center">Recent Purchases</h4>
					<% @recent_transactions.each do |transaction| %>
						<div class="large-4 medium-6 small-12 columns">
							<% if transaction.product.present? %>
								<% if transaction.product.image.present? %>
									<%= link_to image_tag(transaction.product.image.url(:default).html_safe, class: 'th radius'), new_product_transaction_path(transaction.product) %>
								<% else %>
									<img src="http://placehold.it/500x300&amp;text=Image not available">
								<% end %>
								<div class="panel">
									<h5>
										<%= transaction.product.name %>
										<% if user_signed_in? %>
											<%= link_to 'Buy', new_product_transaction_path(transaction.product), 
																						class: 'button success small radius right' if transaction.product.amount_available > 0 %>
										<% end %>
									</h5>
							<% else %>
								<img src="http://placehold.it/500x300&amp;text=Image not available">
								<div class="panel">									
									<h5>Product no longer exists</h5>
							<% end %>
									<h6 class="subheader">
										<%= number_with_delimiter(transaction.credits, delimiter: ",") %> credits
									</h6>
									<h6 class="subheader">
										<%= time_ago_in_words(transaction.created_at) %> ago
									</h6>
								</div>
						</div>
					<% end %>
				<% end %>
			</div>

		<% end %>
	</div>
</div>