<h2 class="text-center">
	<% if @vendor.image.present? %>
    <% if @vendor.image_processing? %>
    	<%= fa_icon 'circle-o-notch spin' %>
    <% elsif @vendor.url.present? %>
    	<%= link_to image_tag(@vendor.image.url(:thumb)).html_safe, 
    												@vendor.url, 
    												class: 'th radius', target: "_blank" %>
    <% else %>
    	<%= link_to image_tag(@vendor.image.url(:thumb)).html_safe, "#",
    												class: 'th radius' %>
    <% end %>
  <% end %>

  <% if @vendor.url.present? %>
		<%= link_to @vendor.business, @vendor.url, target: '_blank' %>
	<% else %>
		<%= link_to @vendor.business, "#" %>
	<% end %>
</h2>