<div class="row">
	<div class="columns large-12">
		<h2 class="text-center"><%= @vendor.fullname %></h2>
		<div class="columns large-6">
			<ul class="vcard">
			  <li class="business"><%= @vendor.business %></li>
			  <li class="phone">+<%= @vendor.phone_prefix %> <%= number_to_phone(@vendor.phone_number) %></li>
			  <li class="street-address"><%= @vendor.street_address %></li>
			  <li class="locality"><%= @vendor.city %></li>
			  <li><span class="state"><%= @vendor.state %></span> 
			  	<span class="zip"><%= @vendor.postal_code %></span></li>
			  <li class="email"><%= mail_to @vendor.email %></li>
			</ul>
			<hr>
		</div>
	</div>
</div>