<div class="row">
	<div class="columns large-12">
		<div class="text-center columns large-4 large-centered">
			<h2 class="text-center">
				<%= @vendor.fullname %>
			</h2>
				<% if current_vendor == @vendor %>
							<%= link_to 'Add new product', new_vendor_product_path(@vendor), 
																						 class: 'button success tiny radius' %>
				<% end %>
			<% if user_signed_in? %>
				<h3 class="text-center">
					<%= link_to 'Verify', new_vendor_transaction_path(@vendor), class: 'button radius' %>
				</h3>
			<% end %>
		</div>
		
		<div class="columns large-5">
			<%= render 'vendor_vcard' %>
		</div>

		<% if current_vendor == @vendor %>
			<div class="columns large-7 large-uncentered medium-10 small-12 small-centered">
					<%= render 'transactions/transaction_search' %>			
					<% unless @transactions.count == 0 %>			
						<%= render 'transactions/transaction_history' %>
					<% else %>
						<h2 class="text-center">No verifications found</h2>
					<% end %>
			</div>
		<% end %>
	</div>


	<hr>

	<div class="large-12 medium-12 small-12 columns">
		<h3 class="text-center">
				Recent <%= @vendor.first_name %> Items <br>
		</h3>
		<div class="text-center">
			<%= link_to "View all #{ @vendor.first_name } products", vendor_products_path(@vendor), 
																					 class: 'button success small radius' %>
		</div>
	</div>
		<%= render 'products/products' %>
</div>