<div class="row">
	<div class="columns large-12">
		<br>
		<div class="text-center columns large-12 large-centered">
			<%= render 'vendor_title' %>			
			<% if current_vendor == @vendor %>
			<br>
				<%= link_to 'Add new product', new_vendor_product_path(@vendor), 
																			 class: 'button success tiny radius' %>
			<% end %>
		</div>
		<br>
		<% if current_vendor == @vendor %>
			<div class="columns large-6 large-uncentered">
				<h3 class="text-center">Your amount: <%= number_with_delimiter(@vendor.credits, delimiter: ',')%></h3>
				<br>
			</div>

			<div class="columns large-6 large-uncentered">
					<%= render 'transactions/transaction_search' %>			
					<% if @transactions.count != 0 && params[:search] %>			
						<%= render 'transactions/transaction_history' %>
					<% elsif @transactions.count == 0 && params[:search] %>
						<h2 class="text-center">No transactions found</h2>
					<% end %>
			</div>
		<% end %>
	</div>

	<hr>

	<div class="large-12 medium-12 small-12 columns">
		<% if @vendor.products.present? %>
			<h3 class="text-center">
					Popular <%= @vendor.business %> Products <br>
			</h3>
			<div class="text-center">
				<%= link_to "View all #{ @vendor.business } products", vendor_products_path(@vendor), 
																						 class: 'button success small radius' %>
			</div>
		</div>
			<%= render 'products/products' %>
		<% else %>
			<h3 class="text-center">
					No products currently available
			</h3>
		<% end %>
</div>