<table class="recent-transactions">
	<thead>
		<% unless params[:search] && params[:search] != "" %>
			<caption>Recent transactions</caption>
		<% else %>
			<caption>Transactions before <%= @date.strftime("%A, %B %d %Y") %></caption>
		<% end %>
		 <tr>
		 	<th class="text-center">ID</th>
		 	<% if user_signed_in? %>
	      <th class="text-center">Vendor</th>
	    <% elsif vendor_signed_in? %>	    	
	      <th class="text-center">User</th>
	    <% end %>
      <th class="text-center">Amount</th>
      <th class="text-center">Date</th>
    </tr>
	</thead>
	<% if user_signed_in? %>
		<% @transactions.each do |t| %>
			<tr>
				<td class="text-right"><%= link_to t.id, user_transaction_path(@user, t) %></td>
				<td class="text-right"><%= link_to t.vendor.fullname, t.vendor unless t.vendor.nil? %></td>
				<td class="text-right"><%= number_with_delimiter(t.amount, delimiter: ',') %></td>
				<td class="text-right"><%= t.created_at.to_formatted_s(:long_ordinal) %></td>
			</tr>
		<% end %>
	<% elsif vendor_signed_in? %>		
		<% @transactions.each do |t| %>
		<tr>
			<td class="text-right"><%= link_to t.id, vendor_transaction_path(@vendor, t) %></td>
			<td class="text-right"><%= t.user.fullname unless t.user.nil? %></td>
			<td class="text-right"><%= number_with_delimiter(t.amount, delimiter: ',') %></td>
			<td class="text-right"><%= t.created_at.to_formatted_s(:long_ordinal) %></td>
		</tr>
		<% end %>
	<% end %>
</table>