<% @code_position = current_user.code_pool.sample %>
<div class="row">
	<div class="columns large-12 text-center">
		<h2><%= @product.name %></h2>
		<h3 class="columns large-6 large-centered small-12 medium-8 medium-centered">
			<% if @product.image.present? %>
	      <% if @product.image_processing? %>
	        <br><h4 class="text-center">Processing image...</h4><br>
	      <% elsif %>
          <%= image_tag(@product.image.url, class: "text-center").html_safe %>
	      <% else %>
		      <img src="http://placehold.it/1000x1000&amp;text=Image not available">
		    <% end %>
		  <% end %>
		</h3>
		<h4>
			<%= number_with_delimiter(@product.votes_against, delimiter: ',') %>		
			<%= fa_icon('thumbs-o-down')%>&nbsp;&nbsp;&nbsp;
			<span id="purchase_cost">
				<%= @transaction.credits == 0 ? @transaction.credits : 
																				number_with_delimiter(@product.credits, delimiter: ',') %>
			</span>
			 credits
			 &nbsp;&nbsp;&nbsp;
			<%= fa_icon('thumbs-o-up') %>
			<%= number_with_delimiter(@product.votes_for, delimiter: ',') %>
		</h4>
		<% if @product.amount_available.between?(1, 10) %>
			<h4><strong>Few in stock!</strong></h4>
		<% end %>
		<% if @product.amount_available == 0 %>
			<h4 class="alert-text"><strong>Out of stock!</strong></h4>
		<% else %>
			<div class="columns medium-6 small-centered text-center">
				<p><%= @product.location %></p>
				<p><%= @product.description %></p>
			</div>
			<div class="authform registration large-4 large-centered columns">
				<%= simple_form_for [@product, @transaction] do |f| %>
				  <%= f.error_notification %>
				  <div class="form-actions">
				    <%= f.input :quantity, input_html: { id: "item_quantity", min: 1 } %>
				    <%= f.input :code_position, as: :hidden, 
				    										input_html: { value: "#{ @code_position }" } %>
				    <%= f.input :security_code, label: "Enter Security Code ##{ @code_position }",
				    											 input_html: { maxlength: 6 } %>
				  </div>
				  <div class="form-actions">
				    <%= f.button :submit, 'Verify & Buy', 
				    											class: 'btn-large btn-warning success radius', 
				    												 id: 'item_submit' %>
				  </div>
				<% end %>
			</div>
			<% end %>
	</div>
</div>