<div class="row">
	<div class="columns large-6 large-uncentered medium-8 medium-centered">
		<ul class="vcard">
			<li class="transaction_id">Transaction ID: <%= @transaction.id %></li>	
			<li class="transaction_date">Date: <%= @transaction.created_at.to_formatted_s(:long_ordinal) %></li>		
		  <li class="user_fullname">
		  	User: <%= link_to @transaction.user.fullname, @transaction.user %>
		  </li>
		  <li class="vendor_fullname">
		  	Vendor: <%= link_to @transaction.vendor.fullname, @transaction.vendor %>
		  </li>
		  <li class="vendor_fullname">
		  	Product: <%= link_to @transaction.product.name, new_product_transaction_path(@transaction.product) %>
		  </li>
		  <li class="vendor_fullname">
		  	Quantity: <%= @transaction.quantity %>
		  </li>
		  <li class="transaction_amount">Amount: <%= number_with_delimiter(@transaction.credits, delimiter: ',') %> credits</li>
		  <li class="transaction_security_code">Verification Code: <%= @transaction.security_code %></li>
		</ul>
	</div>
	<div class="columns large-6 large-uncentered small-12 medium-8 small-12 small-centered">
		<br>
		<h3>
			<% if @transaction.product.image.present? %>
	      <% if @transaction.product.image_processing? %>
	        <br><h4 class="text-center">Processing image...</h4><br>
	      <% elsif %>
	      	<%= link_to image_tag(@transaction.product.image.url(:default)).html_safe, @vendor %>
	      <% else %>
		      <img src="http://placehold.it/1000x1000&amp;text=Image not available">
		    <% end %>
		  <% end %>
		</h3>
	</div>
</div>