<div class="row">
	<div class="columns large-12 left">
		<ul class="vcard">
			<li class="transaction_id">Verification ID: <%= @transaction.id %></li>	
			<li class="transaction_date">Date: <%= @transaction.created_at.to_formatted_s(:long_ordinal) %></li>		
		  <li class="user_fullname">
		  	User: <%= @transaction.user.fullname %> -
		  	<%= mail_to @transaction.user.email %>
		  </li>
		  <li class="vendor_fullname">
		  	Vendor: <%= @transaction.vendor.fullname %> -
		  	<%= mail_to @transaction.vendor.email %>
		  </li>
		  <li class="transaction_amount">Amount: <%= number_with_delimiter(@transaction.amount, delimiter: ',') %> credits</li>
		  <li class="transaction_security_code">Security Code: <%= @transaction.security_code %></li>
		</ul>
	</div>
</div>