<div class="row">
	<div class="large-12 columns">
		<% @products.each do |product| %>
			<div class="large-4 medium-6 small-12 columns">
				<% if product.image.present? %>
					<%= link_to image_tag(product.image.url).html_safe, new_product_transaction_path(product) %>
				<% else %>
					<img src="http://placehold.it/500x300&amp;text=Image not available">
				<% end %>
				<div class="panel">
					<h5>
						<%= product.name %>
						<% if user_signed_in? %>
							<%= link_to 'Buy', new_product_transaction_path(product), 
																		class: 'button success small radius right' if product.amount_available > 0 %>
						<% elsif current_vendor == @vendor %>							
							<%= link_to 'Edit', edit_product_path(product), 
																 class: 'button success small radius right' %>
						<% end %>
					</h5>
					<h6 class="subheader">
						<%= number_with_delimiter(product.credits, delimiter: ",") %> credits
					</h6>
					<h6 class="subheader">
						<% if product.amount_available.between?(1, 10) %>
							<strong>Few in stock</strong>
						<% elsif product.amount_available == 0 %>
							<strong class="alert-text">Out of stock</strong>
						<% end %>
					</h6>	
				</div>
			</div>
		<% end %>
	</div>
</div>