<div class="row">
	<div class="columns large-12">
		<div class="text-center columns large-4 large-centered medium-5 medium-centered small-8 small-centered">
			<h2 >
			<% if current_vendor == @vendor %>
				<%= link_to "Edit #{ @product.name }", edit_product_path(@product), 
																					 class: 'button success radius' %>
			<% elsif @product.amount_available > 0 %>
				<%= link_to "Buy #{ @product.name }", new_product_transaction_path(@product) %>
			<% else %>
				<%= link_to "#{ @product.name }", @vendor %>
			<% end %>
		</h2>
		</div>
		<h3 class="text-center">
			<% if @product.image.present? %>
	      <% if @product.image_processing? %>
	        <%= fa_icon 'circle-o-notch spin', class: 'text-center' %>
	      <% elsif %>
	      	<%= link_to image_tag(@product.image.url).html_safe, @vendor %>
	      <% else %>
		      <img src="http://placehold.it/1000x1000&amp;text=Image not available">
		    <% end %>
		  <% end %>
		</h3>
		<div class="text-center columns large-4 large-centered medium-5 medium-centered small-8 small-centered">
			<br>
			<h3><%= number_with_delimiter(@product.credits, delimiter: ",") %> credits</h3>
			<br>
			<h4>
				<% if @product.amount_available.between?(1, 10) %>
					<strong>Few in stock</strong>
				<% elsif @product.amount_available == 0 %>
					<strong class="alert-text">Out of stock</strong>
				<% end %>
			</h4>
			<br>
			<%= link_to 'Destroy Product', product_path(@product), 
	                                  method: :delete, 
																					 class: 'button alert radius tiny' if current_vendor == @vendor %>
		</div>		
	</div>
</div>