<div class="row">
	<div class="columns large-12">
		<div class="text-center columns large-4 large-centered medium-5 medium-centered small-8 small-centered">
			<h2 >
			<% if current_vendor == @vendor %>
				<%= link_to "Edit #{ @product.name }", edit_product_path(@product), 
																					 class: 'button success radius' %>
			<% elsif @product.amount_available > 0 %>
				<%= link_to "Buy #{ @product.name }", new_product_transaction_path(@product) %>
			<% else %>
				<%= link_to "#{ @product.name }", @vendor %>
			<% end %>
		</h2>
		</div>
		<h3 class="columns large-6 large-centered small-12 medium-8 medium-centered">
			<% if @product.image.present? %>
	      <% if @product.image_processing? %>
	        <%= fa_icon 'circle-o-notch spin' %>
	      <% elsif %>
	      	<%= link_to image_tag(@product.image.url(:default)).html_safe, @vendor %>
	      <% else %>
		      <img src="http://placehold.it/1000x1000&amp;text=Image not available">
		    <% end %>
		  <% end %>
		</h3>
		<div class="text-center columns large-4 large-centered medium-5 medium-centered small-8 small-centered">
			<h3><%= number_with_delimiter(@product.credits, delimiter: ",") %> credits</h3>
			<h4>
				<% if @product.amount_available > 0 %>
					<%= @product.amount_available %> available
				<% else %>
					None currently available
				<% end %>
			</h4>
			<%= link_to 'Destroy Product', product_path(@product), 
	                                  method: :delete, 
																					 class: 'button alert radius tiny' if current_vendor == @vendor %>
		</div>		
	</div>
</div>