<li><%= link_to "List Vendors", vendors_path %></li>
<% if user_signed_in? %>
	<% if current_user.code_pool.length < 4 %>
		<li><%= link_to "Codes left: #{ current_user.code_pool.length }", 
							current_user, 
							class: 'alert-text' %></li>
	<% end %>
  <li><%= link_to 'Edit account', edit_user_registration_path,  id: 'edit_account' %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
<% elsif vendor_signed_in? %>
	<li id="edit_account"><%= link_to 'Edit account', edit_vendor_registration_path,  id: 'edit_account' %></li>
  <li><%= link_to 'Sign out', destroy_vendor_session_path, method: 'delete' %></li>
<% else %>
  <li id="edit_account"><%= link_to 'User Sign up', new_user_registration_path,  id: 'edit_account' %></li>
  <li><%= link_to 'Vendor Sign up', new_vendor_registration_path %></li>
<% end %>
