<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'WuDii' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Lugora" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <% if (request.fullpath).include?('/vendors') %>
      <main role="main" class="vendor_color">
    <% else %>
      <main role="main" class="user_color">
    <% end %>
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>