<div class="authform registration">
	<%= simple_form_for(resource, as: resource, 
															 url: registration_path(resource)) do |f| %>
	  <h3 class="text-center">User Sign Up</h3>
	  <h6 class="text-center">All fields required</h6>
	  <%= f.error_notification %>	
	  <div class="row">
		  <div class="form-inputs columns large-6">
		    <%= f.input :first_name, required: true, autofocus: true %>
		    <%= f.input :last_name, required: true %>
		    <%= f.input :occupation, required: true %>
		    <%= f.input :email, required: true %>
		    <ul class="inline-list">
		  		<li>
						<%= f.input :phone_prefix, required: true, label: 'Country code', placeholder: '0043',
																					 input_html: { style: 'width:95px', maxlength: 4 } %>
		  		</li>
		  		<li>
				    <%= f.input :phone_number, required: true, placeholder: '448355190',
				    												 input_html: { style: 'width:200px' } %>
		  		</li>
		  	</ul>
		  </div>
		  <div class="form-inputs columns large-6">
		  	<fieldset>
          <legend>Address</legend>
			  	<%= f.input :street_address, required: true, label: 'Street' %>
			  	<ul class="inline-list">
			  		<li><%= f.input :city, required: true %></li>
			  		<li><%= f.input :state, required: true %></li>
			  		<li><%= f.input :postal_code, required: true %></li>
			  	</ul>		
		  	</fieldset>    
		    <%= f.input :password, required: true, placeholder: 'Must be 8-128 characters long' %>
		    <%= f.input :password_confirmation, required: true %>
		  </div>  
			<div class="form-actions large-6 large-centered columns">
			    <%= f.button :submit, 'User Sign Up', class: 'expand' %>
					<%= render 'users/shared/links' %>
		  </div>
		</div>	
	<% end %>
</div>